.header {
}
.header-inner {
}
.header-logo {
    text-align: center;
}
img {
    width: 200px;
    height: 60px;
}
.nav {
}
.nav-wrap {
}
.nav-list {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 173, 235, 1);
    padding-bottom: 10px;
}
@media screen and (max-width: 550px) {
    .nav-list {
        display: block;
        text-align: center;
        padding-left: 0;
        border-bottom: none;
    }
}
.item {
    list-style: none;
}
.item:nth-child(n + 2) {
    margin-top: 20px;
}
@media screen and (min-width: 550px) {
    .item:nth-child(n + 2) {
        margin-top: 0;
    }
}
a {
    text-decoration: none;
    color: #aecbeb;
    font-size: 24px;
}
@media screen and (max-width: 550px) {
    a {
        border-bottom: 1px solid #00a0e9;
        border-bottom-width: 1px;
        padding-bottom: 5px;
        padding-right: 150px;
        padding-left: 150px;
    }
}
@media screen and (max-width: 410px) {
    a {
        padding-right: 80px;
        padding-left: 80px;
    }
}
#contact-line {
}
@media screen and (max-width: 550px) {
    #contact-line a {
        padding-right: 128px;
        padding-left: 128px;
    }
}
@media screen and (max-width: 410px) {
    #contact-line a {
        padding-right: 57px;
        padding-left: 57px;
    }
}
.back-top {
    display: none;
}
@media screen and (max-width: 550px) {
    .back-to-top {
        margin-top: 20px;
    }
}
@media screen and (max-width: 550px) {
    .back-to-top a {
        padding-right: 140px;
        padding-left: 140px;
    }
}
@media screen and (max-width: 410px) {
    .back-to-top a {
        padding-right: 70px;
        padding-left: 70px;
    }
}
.policy {
    width: 800px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: lightblue;
    border-radius: 10px;
}
@media screen and (max-width: 1000px) {
    .policy {
        width: 600px;
    }
}
@media screen and (max-width: 800px) {
    .policy {
        width: 400px;
        padding-left: 80px;
    }
}
@media screen and (max-width: 600px) {
    .policy {
        width: 300px;
    }
}
@media screen and (max-width: 480px) {
    .policy {
        width: 300px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
h1 {
    padding-top: 80px;
}
p {
    line-height: 2;
}
.box-1 {
    line-height: 2;
    margin-left: 20px;
}
@media screen and (max-width: 800px) {
    .box-1 {
        margin-left: 0;
    }
}
.box-2 {
    margin-top: 20px;
    margin-left: 60px;
}
@media screen and (max-width: 800px) {
    .box-2 {
        margin-left: 0;
    }
}
.box-3 {
    margin-top: 20px;
    margin-left: 120px;
}
@media screen and (max-width: 800px) {
    .box-3 {
        margin-left: 0;
    }
}
.box-5 {
    margin-top: 20px;
}
.box-6 {
    margin-top: 20px;
    margin-left: 60px;
}
@media screen and (max-width: 800px) {
    .box-6 {
        margin-left: 0;
    }
}
.box-7 {
    margin-left: 120px;
}
@media screen and (max-width: 800px) {
    .box-7 {
        margin-left: 0;
    }
}
.box-8 {
    margin-top: 20px;
}
.footer {
    margin-top: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: -moz-linear-gradient(
        0% 50% 0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );

    background: -o-linear-gradient(
        0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    background: -ms-linear-gradient(
        0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076C2', endColorstr='#00ADEB' ,GradientType=0)";
    background: linear-gradient(
        90deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076C2',endColorstr='#00ADEB' , GradientType=1);
}
small {
    color: #fff;
    font-size: 12px;
}
body {
    margin: 0;
}
