.cmn-title {
    text-align: center;

    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    .main {
        font-size: 24px;
        margin-top: 62px;

        a {
            color: #034ea2;
            border-bottom: 1px solid #034ea2;
            border-bottom-width: 2px;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 10px;
        }
    }
    .sub {
        font-size: 14px;
        margin-top: 22px;
        color: #034ea2;
    }
}
