.footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: -moz-linear-gradient(
        0% 50% 0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    background: -webkit-gradient(
        linear,
        0% 50%,
        100% 50%,
        color-stop(0, rgba(0, 118, 194, 1)),
        color-stop(1, rgba(0, 173, 235, 1))
    );
    background: -o-linear-gradient(
        0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    background: -ms-linear-gradient(
        0deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076C2', endColorstr='#00ADEB' ,GradientType=0)";
    background: linear-gradient(
        90deg,
        rgba(0, 118, 194, 1) 0%,
        rgba(0, 173, 235, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076C2',endColorstr='#00ADEB' , GradientType=1);
    .inner {
    }
    small {
        color: #fff;
        font-size: 12px;
    }
}
